form,p,td,th { font-size: 9pt; }

h1,h2,h3,h4,h5,h6,th { font-family: verdana, arial, helvetica, sans-serif; }
h1 { font-size: 17pt; }
h2 { font-size: 15pt; }
h3 { font-size: 13pt; }
h4 { font-size: 11pt; }
h5 { font-size: 9pt; }
h6 { font-size: 7pt; }
p { font-family: verdana, arial, helvetica, sans-serif; }
ol { font-family: verdana, arial, helvetica, sans-serif; }
ul { font-family: verdana, arial, helvetica, sans-serif; }
b.login { font-size: 11pt; }

.menuitem { font-family: verdana, helvetica, arial, sans-serif; }
.menuitem { font-size: 8pt; }
.shorttable {line-height: 8pt; }

.bar A {  line-height: 2em; }

.bar2 A { font-weight: lighter; font-size: 9pt; line-height: 1.0em; }

/* calendar */
.cal-title { font-size: 14pt; }
.cal-dates {}
.cal-day-names {}

/*fixed width font for schedule email text areas*/
.fixed_font { font-family: courier, monospace; }

div.clock { font-size: 9pt; }
